[user]
	email = sandesh.katta97@gmail.com
	name = sandesh katta
[core]
	editor = vim
[alias]
  l = log --relative-date --graph --abbrev-commit -10
  ll = log --relative-date --graph --abbrev-commit	
[format]
  pretty = format:%C(yellow)%h %Cblue%>(12)%ad %Cgreen%<(7)%aN%Cred%d %Creset%s
